nav {
    background-color: #000080;
}

.jumbotron {
    padding-top: 6rem;
    background-color: gray;
}

#projects {
    background-color: gray;
}

footer {
    background-color: #495057;
}

section {
    padding-top: 5rem;
}